################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStoreApi/obj
/BookStoreApi/bin/Debug/net8.0
/BookStoreApi/.vs/BookStoreApi
